@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

button:hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.fondo-primario, .fondo-primario-hover:hover {
    background-color: #131620;
}

.fondo-secundario, .fondo-secundario-hover:hover {
    background-color: #0983AC;
}

.fondo-terciario, .fondo-terciario-hover:hover {
    background-color: #F2E984;
}

.fondo-cuaternario, .fondo-cuaternario-hover:hover {
    @apply bg-gray-600;
}

.borde-primario, .borde-primario-hover:hover {
    @apply border-[#131620];
}

.borde-secundario, .borde-secundario-hover:hover {
    @apply border-[#0983AC];
}

.borde-terciario, .borde-terciario-hover:hover {
    @apply border-[#F2E984];
}

.borde-cuaternario, .borde-cuaternario-hover:hover {
    @apply border-[#4B5563];
}

.color-letra-primario {
    @apply text-[#131620];
}

.color-letra-secundaria {
    @apply text-[#0983AC];
}

header img, footer img {
    @apply w-7 hover:cursor-pointer;
}

.apartado-header {
    @apply p-2 hover:text-gray-300 transform transition-transform duration-300 hover:scale-110;
}

.icono-header {
    @apply transform transition-transform duration-300 hover:scale-110;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#menuPerfil {
    display: none;
    background-color: #131620;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
    min-width: 180px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    z-index: 10;
}

.group:hover #menuPerfil {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#menuPerfil a, #menuPerfil button {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
}

#menuPerfil a:hover, #menuPerfil button:hover {
    background-color: #0983AC;
    color: white;
}

#menuPerfil a:active, #menuPerfil button:active {
    background-color: #e85f53;
}

.canal-soporte {
    @apply flex flex-row p-2 gap-2;
}

.barra-lateral {
    @apply flex flex-col items-start justify-start gap-4 text-[20px] text-white p-0  w-[15%];
}

.barra-lateral span, .barra-lateral button {
    @apply ml-4;
}

.apartado {
    @apply hover:cursor-pointer hover:bg-[#4B5563] flex items-center pt-2 pl-7 pr-7 pb-2 w-full;
}

.icono {
    @apply w-[25px] hover:cursor-pointer;
}

.seccion-principal {
    @apply w-[85%] p-4;
}

.busqueda-filtros {
    @apply flex flex-col sm:flex-row sm:justify-between mb-6;
}

.busqueda-filtros form {
    @apply w-full;
}

.buscador {
    @apply flex flex-row gap-2 mb-4 sm:mb-0 w-full pr-4;
}

.buscador input {
    @apply w-full border-2 border-gray-400 rounded-md p-2 sm:w-auto;
}

.btn-buscar {
    @apply text-white px-4 py-1 rounded-md;
}

.btn-filtrar {
    @apply text-white px-4 py-1 rounded-md w-fit self-center md:ml-4 md:self-auto;
}

.filtros > form{
    @apply flex flex-col gap-4 lg:flex-row lg:items-end lg:gap-8;
}

.filtro {
    @apply flex flex-row items-center;
}

.filtro > select {
    @apply p-2 ml-2 rounded-md border-2 border-slate-200 bg-white text-gray-700;
}

.filtro > img {
    @apply w-5;
}